  <div class="row-fluid">
    <div class="col-md-8">
      <h3>Feeds</h3>
      <ul>
      {% for item in messages %}
        <li>
          <p>{{ item.published_at|date:"yyyy-MM-dd HH:mm" }}</p>
          <p>{{ item.description|safe }}</p>
        </li>
      {% endfor %}
      </ul>
    </div>

    <div class="col-md-4">
      <form class="form-inline" role="form" id="feed-form">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">RSS Feed:</div>
            <input class="form-control" type="field" placeholder="Enter link" name="link" value={{link}}>
          </div>
        </div>
        <button type="submit" class="btn btn-default">Sumbit</button>
      </form>
      <ol>
      {% for item in links %}
        <li>
          <p>{{ item }}</p>
        </li>
      {% endfor %}
      </ol>
    </div>

  </div>
