{% extends "templates/base.html" %}
{% block content %}
  <h1>Welcome to Marginalium</h1>

  {% if error %}
    <p class="text-danger">{{error}}</p>
  {% endif %}

  <div id="content">
    {{content|safe}}
  </div>
{% endblock %}